<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> 여기가 index.html 입니다. <br>
        templates/main 에서 main 안에 파일을 안넣어서 오류가 났었음. <br>

    </h3>

    <hr/>

    <h4>
        여기에 post list를 나열하려고 함.<br>
        {% for p in posts %}
          
            <h5>{{ p.title }}</h5>
        {% endfor %}
        <br>
    </h4>

    <hr/>

    <h4>
        글목록은 다음과 같다.<br>
        {{posts}}
    </h4>

    <hr/>

    <h6>
        post를 queryset 형식으로 데이터로 접근할 수 있다. queryset은 데이터베이스에서 전달받은 객체들의 모음.
        //위와 같은 문구를 이용해서 반복문을 불러온다. 일반 변수는 % 없이 중괄호 두개를 이용하여 불러온다.
    </h6>

    <hr/>

    <h4>
        여기에 post list와 상세 정보를 나열하려고 함.<br>

        {% for p in posts %}
            <hr/>
            <a href=""{{p.get_absolute_url}}>{{p.title}}</a><br>
            {{p.created_at}}<br>
            {{p.content}}<br>
            {{p.summary}}<br>
        {% endfor %}
    </h4>
    <hr/>
    <h4>
        이 위치에 댓글을 넣으려 함
    </h4>
</body>
</html>

